<header>
    <img src="logo.png" alt="Put out logo here">
    <h1 class="site-title">Snippr</h1>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem" id="nav-home"><a href="#">Home</a></li>
            <li class="navitem" id="nav-search"><a href="#">Search</a></li>
            <li class="navitem" id="nav-create"><a href="#">Create</a></li>
            <li class="navitem" id="nav-styleSelect">
                <select id="styleSelect-menu">
                        <option>agate</option>
                        <option>androidstudio</option>
                        <option>arduino-light</option>
                        <option>arta</option>
                        <option>ascetic</option>
                        <option>atelier-cave-dark</option>
                        <option>atelier-cave-light</option>
                        <option>atelier-dune-dark</option>
                        <option>atelier-dune-light</option>
                        <option>atelier-estuary-dark</option>
                        <option>atelier-estuary-light</option>
                        <option>atelier-forest-dark</option>
                        <option>atelier-forest-light</option>
                        <option>atelier-heath-dark</option>
                        <option>atelier-heath-light</option>
                        <option>atelier-lakeside-dark</option>
                        <option>atelier-lakeside-light</option>
                        <option>atelier-plateau-dark</option>
                        <option>atelier-plateau-light</option>
                        <option>atelier-savanna-dark</option>
                        <option>atelier-savanna-light</option>
                        <option>atelier-seaside-dark</option>
                        <option>atelier-seaside-light</option>
                        <option>atelier-sulphurpool-dark</option>
                        <option>atelier-sulphurpool-light</option>
                        <option>atom-one-dark</option>
                        <option>atom-one-light</option>
                        <option>brown-paper</option>
                        <option>brown-papersq</option>
                        <option>codepen-embed</option>
                        <option>color-brewer</option>
                        <option>darcula</option>
                        <option>dark</option>
                        <option>darkula</option>
                        <option>default</option>
                        <option>docco</option>
                        <option>dracula</option>
                        <option>far</option>
                        <option>foundation</option>
                        <option>github-gist</option>
                        <option>github</option>
                        <option>googlecode</option>
                        <option>grayscale</option>
                        <option>gruvbox-dark</option>
                        <option>gruvbox-light</option>
                        <option>hopscotch</option>
                        <option>hybrid</option>
                        <option>idea</option>
                        <option>ir-black</option>
                        <option>kimbie</option>
                        <option>kimbie</option>
                        <option>magula</option>
                        <option>mono-blue</option>
                        <option>monokai-sublime</option>
                        <option>monokai</option>
                        <option>obsidian</option>
                        <option>ocean</option>
                        <option>paraiso-dark</option>
                        <option>paraiso-light</option>
                        <option>pojoaque</option>
                        <option>pojoaque</option>
                        <option>purebasic</option>
                        <option>qtcreator_dark</option>
                        <option>qtcreator_light</option>
                        <option>railscasts</option>
                        <option>rainbow</option>
                        <option>routeros</option>
                        <option>school-book</option>
                        <option>school-book</option>
                        <option>solarized-dark</option>
                        <option>solarized-light</option>
                        <option>sunburst</option>
                        <option>tomorrow-night-blue</option>
                        <option>tomorrow-night-bright</option>
                        <option>tomorrow-night-eighties</option>
                        <option>tomorrow-night</option>
                        <option>tomorrow</option>
                        <option>vs</option>
                        <option>vs2015</option>
                        <option>xcode</option>
                        <option>xt256</option>
                        <option>zenburn</option>
                </select>
            </li>
        </ul>
    </nav>
</header>