<article class="snip">
    <div class="snip-title">
        <a href="#">{{title}}</a>
    </div>
    <div class="snip-author">
        <a href="#">{{author}}</a>
    </div>
    <div class="snip-code">
        {{code}}
    </div>
    <div class="snip-details">
        {{description}}
    </div>
    <button class="comment">comment</button>
    <button class="react">☻/♥/♫/‼</button>
</article>