        <option value="agate">agate</option>
        <option value="androidstudio">androidstudio</option>
        <option value="arduino-light">arduino light</option>
        <option value="arta">arta</option>
        <option value="ascetic">ascetic</option>
        <optgroup label="atelier">
                <option value="atelier-sulphurpool-light">atelier sulphurpool light</option>
                <option value="atelier-sulphurpool-dark">atelier sulphurpool dark</option>
                <option value="atelier-seaside-light">atelier seaside light</option>
                <option value="atelier-seaside-dark">atelier seaside dark</option>
                <option value="atelier-savanna-light">atelier savanna light</option>
                <option value="atelier-savanna-dark">atelier savanna dark</option>
                <option value="atelier-plateau-light">atelier plateau light</option>
                <option value="atelier-plateau-dark">atelier plateau dark</option>
                <option value="atelier-lakeside-light">atelier lakeside light</option>
                <option value="atelier-lakeside-dark">atelier lakeside dark</option>
                <option value="atelier-heath-light">atelier heath light</option>
                <option value="atelier-heath-dark">atelier heath dark</option>
                <option value="atelier-forest-light">atelier forest light</option>
                <option value="atelier-forest-dark">atelier forest dark</option>
                <option value="atelier-estuary-light">atelier estuary light</option>
                <option value="atelier-estuary-dark">atelier estuary dark</option>
                <option value="atelier-dune-light">atelier dune light</option>
                <option value="atelier-dune-dark">atelier dune dark</option>
                <option value="atelier-cave-light">atelier cave light</option>
                <option value="atelier-cave-dark">atelier cave dark</option>
        </optgroup>
        <optgroup label="atom">
                <option value="atom-one-light">atom one light</option>
                <option value="atom-one-dark">atom one dark</option>
        </optgroup>
        <option value="brown-paper">brown paper</option>
        <option value="codepen-embed">codepen embed</option>
        <option value="color-brewer">color brewer</option>
        <option value="darcula">darcula</option>
        <option value="dark">dark</option>
        <option value="darkula">darkula</option>
        <option value="default">default</option>
        <option value="docco">docco</option>
        <option value="dracula">dracula</option>
        <option value="far">far</option>
        <option value="foundation">foundation</option>
        <optgroup label="github">
                <option value="github">github</option>
                <option value="github-gist">github gist</option>
        </optgroup>
        <option value="googlecode">googlecode</option>
        <option value="grayscale">grayscale</option>
        <optgroup label="gruvbox">
                <option value="gruvbox-light">gruvbox light</option>
                <option value="gruvbox-dark">gruvbox dark</option>
        </optgroup>
        <option value="hopscotch">hopscotch</option>
        <option value="hybrid">hybrid</option>
        <option value="idea">idea</option>
        <option value="ir-black">ir black</option>
        <optgroup label="kimbie">
                <option value="kimbie">kimbie</option>
                <option value="kimbie">kimbie</option>
        </optgroup>
        <option value="magula">magula</option>
        <option value="mono-blue">mono blue</option>
        <optgroup label="monokai">
                <option value="monokai">monokai</option>
                <option value="monokai-sublime">monokai sublime</option>
        </optgroup>
        <option value="obsidian">obsidian</option>
        <option value="ocean">ocean</option>
        <optgroup label="paraiso">
                <option value="paraiso-light">paraiso light</option>
                <option value="paraiso-dark">paraiso dark</option>
        </optgroup>
        <option value="pojoaque">pojoaque</option>
        <option value="purebasic">purebasic</option>
        <option value="qtcreator_dark">qtcreator_dark</option>
        <option value="qtcreator_light">qtcreator_light</option>
        <option value="railscasts">railscasts</option>
        <option value="rainbow">rainbow</option>
        <option value="routeros">routeros</option>
        <option value="school-book">school book</option>
        <optgroup label="solarized">
                <option value="solarized-light">solarized light</option>
                <option value="solarized-dark">solarized dark</option>
        </optgroup>
        <option value="sunburst">sunburst</option>
        <optgroup label="tomorrow">
                <option value="tomorrow">tomorrow</option>
                <option value="tomorrow-night">tomorrow night</option>
                <option value="tomorrow-night-eighties">tomorrow night eighties</option>
                <option value="tomorrow-night-bright">tomorrow night bright</option>
                <option value="tomorrow-night-blue">tomorrow night blue</option>
        </optgroup>
        <option value="vs">vs</option>
        <option value="vs2015">vs2015</option>
        <option value="xcode">xcode</option>
        <option value="xt256">xt256</option>
        <option value="zenburn">zenburn</option>
