<!DOCTYPE html>
<html>
    <script src="/highlight/highlight.pack.js"></script>
    <head>
        <meta charset="utf-8"/>

        <style id="highlight-style"></style>
        <!-- see https://highlightjs.org for how to use this highlighting API-->

        <link rel="stylesheet" href="/style.css" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <title>Snippr</title>
    </head>

    <body>

        {{{body}}}

    </body>

    <script src="/client.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</html>
