<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="./highlight/styles/sunburst.css" rel="stylesheet" media="screen">
        <script src="./highlight/highlight.pack.js">
        <!-- see https://highlightjs.org for how to use this highlighting API-->
        <title>Snippr</title>
    </head>

    <body>

        {{{body}}}

    </body>

</html>