{{> headerPre}}

<div id="snip-create">
    <!-- parts of a snip
            Title
            Author
            Code
            Description
            Language
            Other tags
    -->
    <label for="create-title">Title</label>
    <input type="text" id="create-title">

    <label for="create-author">Author</label>
    <input type="text" id="create-author">

    <pre>
        <textarea id="create-code" rows="10" cols="60"></textarea>
    </pre>

    <textarea id="create-description" rows="5" cols="60"></textarea>

    <label for="create-language">Language</label>
    <select id="create-language">
        <option value="diff">diff</option>
        <option value="brainfuck">Brainfuck</option>
        <option value="nginx">Nginx</option>
        <option value="objectivec">Objective C</option>
        <option value="cpp">C/C++</option>
        <option value="cs">C#</option>
        <option value="xml">XML</option>
        <option>handlebars</option>
        <option>ini</option>
        <option>prolog</option>
        <option>javascript</option>
        <option>python</option>
        <option>markdown</option>
        <option value="r">R</option>
        <option>powershell</option>
        <option>scheme</option>
        <option value="php">PHP</option>
        <option>smalltalk</option>
        <option value="fortran">Fortran</option>
        <option value="arduino">Arduino</option>
        <option>mathematica</option>
        <option>vim</option>
        <option value="d">D</option>
        <option>ocaml</option>
        <option>json</option>
        <option>lisp</option>
        <option>processing</option>
        <option>perl</option>
        <option>groovy</option>
        <option>clojure</option>
        <option value="matlab">Matlab</option>
        <option value="rust">Rust</option>
        <option>julia</option>
        <option value="ruby">Ruby</option>
        <option value="haskell">Haskell</option>
        <option>makefile</option>
        <option value="css">CSS</option>
        <option>java</option>
        <option value="fsharp">F#</option>
        <option>swift</option>
        <option value="x86asm">x86 ASM</option>
        <option>bash</option>
        <option>shell</option>
        <option value="http">HTTP</option>
        <option value="lua">Lua</option>
        <option>coffeescript</option>
        <option value="sql">SQL</option>
        <option>apache</option>
        <option value="vbnet">VB.net</option>
        <option>coq</option>
    </select>

    <input type="submit" id="create-submit">
    <!-- tags to be implemented later -->
</div>
<script src="/createSnip.js"></script>