<div class="snip-search">
    <label id="search-by-label" for="search-by">Search By:</label>
    <select id="search-by"></select>

    <label id="search-input-label" for="search-input">Search For:</label>
    <div id="search-input"><a></a></div>

    <select id="search-code.language" title="Language" class="search-option">
        {{> languageList}}
    </select>

    <input id="search-title" title="Title" class="search-option">
    <input id="search-author" title="Author" class="search-option">
    <textarea id="search-code.code" title="Code" class="search-option"></textarea>
    <textarea id="search-description" title="Description" class="search-option"></textarea>

    <label id = "sort-by-label" for="sort-by">Sort Results By:</label>
    <select id="sort-by">
        <option value='like'>Like</option>
        <option value='funny'>Funny</option>
        <option value='cool'>Cool</option>
        <option value='wat'>Wat</option>
    </select>

    <button id="search-submit">Search</button>
</div>

<script src="search.js"></script>
