{{> headerPre}}

<div class="snip-search">
    <label for="search-by">Search By:</label>
    <select id="search-by">
        <option>Title</option>
        <option>Language</option>
        <option>Author</option>
    </select>

    <label for="search-input">Search For:</label>
    <input id="search-for">

    <label for="sort-by">Sort Results By:</label>
    <select id="sort-by">
        <option>Like</option>
        <option>Funny</option>
        <option>Cool</option>
        <option>Wat</option>
    </select>
</div>