body {
   font-family: 'Inconsolata', monospace; /* Try a monospace font and tell me how it works out */

   margin: 0;
   padding: 0;


   /*font-size: 13px;*/

   background-color: #555;
}

a {
   color: inherit;
   text-decoration: none;
}

header{
   width: 100%;

   position: fixed;
   display: inline-flex;

   top: 0;

   background-color: #111;
   z-index: 1;
   box-shadow: 2px 2px 2px black;
}

.site-title {
   margin: 0;
   padding: 0 0 0 10px;

   text-align: left;
   font-size: 50px;
   font-weight: 100;

   color: #97DB4F;
}

.logo {
   margin: inherit;
   padding: inherit;

   height: 50px;

   background-color: #97DB4F;

   border-radius: 10px;
}

.navbar{
   margin: 0;
   padding: 0;
   padding-left: 10%;
   width: 100%
}

.navlist{
   margin: 0;
   padding: 0;
   width: 100%;
}

.navitem{
   margin: inherit;
   padding: inherit;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 2%;

   display: inline-block;

   float: left;

   font-size: 22px;
   font-weight: 600;

   color: #90A955;

   cursor: pointer;
}

.navitem:hover {
   color: #97DB4F;
}
#nav-styleSelect {
  margin: 1px 5px 0 0;
  padding: 0;
  float: right;
}
#styleSelect-menu {
   margin: 0;
   padding: 0;
   border: 0;
   width: 200px;

   font-size: 22px;


   background-color: #97DB4F;
}

.snip-container {
   margin: 0 25% 0 25%;
   padding: inherit;
   padding-top: 100px;
   width: 50%;

   display: flex;
   flex-wrap: wrap;
   align-self: center;
   align-items: center;

   background-color: #444;
}

.snip-singleContainer {
   margin: 0;
   padding: inherit;
   padding-top: 5%;
   width: 100%;

   display: flex;
   flex-wrap: wrap;
   align-self: center;
   align-items: center;

   background-color: #444;
}

.snip {
   margin: 0 2.5% 15px 2.5%;
   border: 5px solid rgb(103,130,91);


   flex: 1 1 0;
   max-width: 94%;

   background-color: #222;
   box-shadow: 2px 2px 2px black ;
}

.snip-title {
   margin: inherit;

   text-align: right;

   font-size: 28px;
   font-weight: 600;
   color: #97DB4F;
}

.snip-title:hover {
   color: #00FF00;
}

.snip-author {
   margin: 0 15px 0 0;

   text-align: right;

   font-style: italic;
   font-size: 20px;
   color: #999;
}

.snip-code {
   margin: 0;
   padding: 0;
   border-top: 2px solid #FDFDFD;
   border-bottom: 2px solid #FDFDFD;
 }

 #wtfispre {
    margin: 0;
 }

#codebox {
}

.snip-details {
   margin: 0;
   padding: 6px;
   border-bottom: 2px solid #999;

   color: #999;
}

#comment-input {
   margin: 0;
   margin-left: 0.5%;
   margin-top: 0.5%;
   padding: 0;
   padding-left: 2%;
   border: 0;
   height: 50px;

   width: 97%;

   color: #111;
   background-color: #BFBFBF;
}

#comment-submit {
   margin-right: 5px;
   border: 0;

   float: right;

   font-size: 20px;

   background-color: #90A955;

   cursor: pointer;
}
#comment-submit:hover {
   background-color: #97DB4F;
}

.react-buttons {
   margin: inherit;
   padding: inherit;

}

.react-button {
   margin: 0;
   border: 0;
   border-radius: 10px;

   display: inline;

   font-size: 20px;

   background-color: #999;

   cursor: pointer;
}

.react-button:hover {
   background-color: #fff;
}

#button-like {
   color: red;
}

#button-funny {
   color: #DDDD2C;
}

#button-cool {
   color: blue;
}

.comments {
  margin: inherit;
  padding: inherit;
  border-top: 2px solid #97DB4F;

  font-size: 20px;


  color: #999;
}

.comment {
  margin: 3px 0 2px 3px ;
  padding: inherit;
  padding-left: 3px;
  border: 1px dashed #aaa;
}

#snip-create {
   margin: 0 25% 0 25%;
   padding: inherit;
   width: 50%;
   height: 500px;
   border-radius: 30px;

   position: relative;
   top: 100px;

   background-color: #97DB4F;
}

#create-title {
  position: absolute;
  top: 7%;
  left: 110px;

  font-size: 18px;

  background-color: #eee;
}
#create-title-label {
  position: absolute;
  top: 7%;
  left: 1.5%;

  font-size: 22px;
}

#create-author {
  position: absolute;
  top: 13%;
  left: 110px;

  font-size: 18px;

  background-color: #eee;
}
#create-author-label {

  position: absolute;
  top: 13%;
  left: 1.5%;

  font-size: 22px;
}

#create-language {
  width: 100px;

  position: absolute;
  top: 19%;
  left: 110px;

  font-size: 18px;
}
#create-language-label {
  position: absolute;
  top: 19%;
  left: 1.5%;

  font-size: 22px;
}

#create-code {
  width: 70%;
  height: 40%;

  position: absolute;
  top: 25%;
  left: 110px;

  background-color: #eee;
}

#create-description {
  width: 65%;

  position: absolute;
  top: 68%;
  left: 110px;

  background-color: #eee;
}

#create-title:focus {
  background-color: #fff;
}
#create-author:focus {
  background-color: #fff;
}
#create-code:focus {
  background-color: #fff;
}
#create-description:focus {
  background-color: #fff;
}

#create-submit {
   margin-right: 5px;
   border: 0;

   position: absolute;
   bottom: 5%;
   right: 25px;

   font-size: 20px;

   cursor: pointer;
}

.snip-search {
  margin: 0 25% 0 25%;
  padding: inherit;
  width: 50%;
  height: 250px;
  border-radius: 30px;

  position: relative;
  top: 100px;

  background-color: #97DB4F;
}

#search-by {
  position: absolute;
  top:15%;
  left: 80px;

  font-size: 18px;
}
#search-by-label {
  position: absolute;
  top: 5%;
  left: 80px;

  font-size: 22px;
}

#search-input {
  position: absolute;
  top: 35%;
  left: 80px;

  font-size: 18px !important;
}
#search-input-label {
  position: absolute;
  top: 25%;
  left: 80px;

  font-size: 22px;
}

#search-code.language {
  font-size: 18px;
}

#searh-title {
  font-size: 18px;
}

#search-author {
  font-size: 18px;
}

#search-code.code {
  font-size: 18px;
}

#search-description {
  font-size: 18px;
}

#sort-by {
  position: absolute;
  top: 15%;
  left: 300px;

  font-size: 18px;
}
#sort-by-label {
  position: absolute;
  top: 5%;
  left: 300px;

  font-size: 22px;
}

#search-submit {
  margin-right: 5px;
  border: 0;

  position: absolute;
  bottom: 5%;
  right: 25px;

  font-size: 20px;

  cursor: pointer;
}

@media(max-width: 1000px) {
  header{
     position: inherit;
  }
  .navbar{
     padding: 0;
  }
   .snip-container {
    margin: 0;
    padding: inherit;
    padding-top: 10px;
    width: 100%;
  }
  #snip-create {
    margin: 0;
    width: 100%;

    top: 10px;
  }
  .snip-search {
    margin: 0;
    width: 100%;

    top: 10px;
  }
}
